.menu {
	margin: 0 auto; 
	max-: 1170px;
	
}


header { 
	background: #000000; 
	padding: 5px; 
	text-align: center; 
	color: #fff; 
	font-weight: bold; 
	text-transform: uppercase; 
	margin-right: 5%;
	}
	
header  nav { 
	display: inline; 
	}
	
header a { 
	color: #ffffff;
	text-decoration: none; 
	padding: 5px; 
	}
	
header nav a:hover{
	background: #960c0c; 
	}
	
img{
	height: 30px;
	width: 30px;
}

table {
	border-collapse: collapse;
	width: 100%;
	
	
}

td, th {
	border: 2px black solid;
	font-family: Verdana;
	font-size: 16px;
	width: 33%;
	text-align: center;
	
}