table {
	border-collapse: collapse;
	width: 100%;
	
}

td, th {
	border: 2px black solid;
	font-family: Verdana;
	font-size: 16px;
	width: 33%;
	text-align: center;
	
}


img {
	width: 30%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	
	
}